@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}


p, span, li, a {
  font-family: var(--font-body), serif;
  font-weight: 400;
  color: inherit;
}
